<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django Group blog</title>
        <link rel="shortcut icon" href="{% static 'blog/images/main.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <ul class="hr">
                <li class="hr1"><h1><a href="/">Django Group</a></h1></li>
                <li class="hr1"><p class = 'admin'><a href="admin/">Админ панель</a></p></li>
                <li class="hr1"><p class = 'admin'><a href="mine/">Личное</a></p></li>
                {% if user.is_authenticated %}
                    <li class="hr1"><p class="admin"><a href="{% url 'post_new' %}">Добавить пост</a></p></li>
                    <li class="hr1"><p class="admin"><a href="{% url 'post_notebook' %}">Черновик</a></p></li>
                {% endif %}
            </ul>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
