<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django Group blog</title>
        <link rel="shortcut icon" href="{% static 'blog/images/main.ico' %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Django Group</a></h1>
            <p class = 'admin'><a href="admin/">Админ панель</a></p>
            {% if user.is_authenticated %}
                <p class="admin"><a href="{% url 'post_new' %}">Добавить пост</a></p>
                <p class="admin"><a href="{% url 'post_notebook' %}">Черновик</a></p>
            {% endif %}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
